altair==4.2.2
holoviews==1.15.4
hvplot==0.8.2
matplotlib==3.7.0
numpy==1.21.6
pandas==1.5.3
panel==0.14.4
plotly==5.14.1
scikit_learn==1.2.1
seaborn==0.12.2
streamlit==1.22.0
scikit-learn==1.2.1
scikit-plot==0.3.7
